[submodule "vim/vim.symlink/bundle/Vundle.vim.git"]
	path = vim/vim.symlink/bundle/Vundle.vim.git
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
